# Cloud Run injects PORT automatically. Do not set PORT in Cloud Run unless needed.

INSTANCE_CONNECTION_NAME=project-id:asia-southeast1:learn-ta-mysql
DB_USER=root
DB_PASSWORD=change-me
DB_NAME=learn_ta_flashcard
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
CORS_ORIGIN=https://your-frontend-domain
